<div class="bottom-sheet-container">
  <div class="dialog-content">
    <div class="remove-container">
      <img src="./assets/images/error.svg" alt="">
      <span i18n>Are You Sure?</span>

      <div class="bottom-sheet-action">
        <button (click)="submit()" i18n
                type="button"
                class="border border-indigo-500 bg-indigo-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-indigo-600 focus:outline-none focus:shadow-outline"
        >
          Yes
        </button>

        <button i18n
          type="button"
          class="border border-red-500 bg-red-500 text-white rounded-md px-4 py-2 m-2 transition duration-500 ease select-none hover:bg-red-600 focus:outline-none focus:shadow-outline"
          (click)="reset()">
          Cancel
        </button>
      </div>


    </div>
    <template #container></template>
  </div>
</div>
