<div class="header-container">
  <header class="lg:px-16 px-6 primary-color flex flex-wrap items-center lg:py-0 py-2">
    <div class="flex-1 flex justify-between items-center">
      <div class="flex items-center">
        <img src="./assets/images/icon.png" class="mr-3 h-6 sm:h-9" alt="Todo Logo"/>
        <span class="self-center text-xl font-semibold whitespace-nowrap text-white dark:text-white">To Do</span>
      </div>
    </div>

    <label class="pointer-cursor lg:hidden block">
      <img [src]="'./assets/images/user.png'" (click)="openDialogUser()"
           class="avatar h-6 sm:h-9 shadow-lg flex items-center rounded-full profile-photo" i18n-alt alt="photo"/>
    </label>

    <div class="hidden lg:flex lg:items-center lg:w-auto w-full" id="menu">
      <nav>
        <div class="flex items-center lg:order-2 align-center">
          <app-toggle-language></app-toggle-language>
          <app-toggle-theme></app-toggle-theme>
          <app-profile></app-profile>
        </div>

      </nav>
    </div>
  </header>

</div>
