::ng-deep .mat-form-field-appearance-outline {
  &.mat-focused {
    .mat-form-field-label {
      transform: translateY(-1.29375em) scale(0.75) !important;
      top: 1.70375em;
    }
  }
}

::ng-deep .mat-form-field-flex {
  .mat-form-field-infix {
    padding: 0.4em 0 .7em 0;

    input {
      margin-right: 5px;
      height: 100%;

      &::placeholder {
        color: currentColor;
      }
    }

    .mat-form-field-label {
      // font-size: 15px;
      font-size: inherit;
      top: 1.40375em;
      transform: translateY(-1.29375em) scale(0.75) !important;

      span {
        margin-left: 3px;
        color: #f44336;
        font-size: 16px;
      }
    }
  }
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-hide-placeholder {
  .mat-form-field-label {
    transform: unset !important;
  }
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

::ng-deep mat-label {
  font-size: 16px !important;
  color: var(--text-color) !important;
}


input{
  color: var(--text-color) !important;

}
