@import "partial/breakpoints";

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .task-container {
    display: flex;
    background-color: var(--bg-secondary) !important;
    height: 90%;
    padding: 0 150px;
    overflow: auto;
    @include media-breakpoint('lt-md') {
      padding: 10px;
      align-items: center;
      flex-direction: column;    }

  }
}



