.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .task-container {
    display: flex;
    background-color: var(--bg-secondary) !important;
    height: 90%;
    padding: 0 150px;
    overflow: auto;

  }
}



