:host{
  width: 100% !important;
  margin: 20px !important;
}


.add-task-card{
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  //cursor: pointer;

  svg{
    path{
      color: #78bafd !important;
    }
  }

  .title{
    color: #78bafd !important;
    font-weight: 400;

  }
}


div{
  cursor: move !important;
}
