<div class="task-container">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <app-custom-input
      [name]="'title'"
      [label]="'title'"
      class="margin-input-title" formControlName="title"
      [formControl]="formGroup.controls['title']">
    </app-custom-input>

    <app-custom-text-area formControlName="description"
                          [formControl]="formGroup.controls['description']"
                          [name]="'description'"
                          [label]="'description'"
                          class="margin-input"></app-custom-text-area>


    <div class="action">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">update
      </button>
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">cancel
      </button>
    </div>

  </form>
</div>
