<div class="bg-gray-100 m-2 shadow-lg flex items-center rounded-full" [matMenuTriggerFor]="menu" *ngIf="user$">
  <img [src]="(user$ |async)?.photoURL ? (user$ |async)?.photoURL :'./assets/images/user.png'"
       class="h-6 sm:h-9 shadow-lg flex items-center rounded-full" alt="photo" i18n-alt/>
</div>
<div class="profile-container">
  <mat-menu #menu="matMenu">
    <div class="menu-container">
      <img [src]="(user$ |async)?.photoURL ? (user$ |async)?.photoURL :'./assets/images/user.png'"
           class="h-6 sm:h-9 shadow-lg flex items-center rounded-full profile-photo" i18n-alt alt="photo"/>
      <div class="user-info">
        <p class="user-email">{{(user$ |async)?.firstName}} {{(user$ |async)?.lastName}}</p>
        <p class="user-email">{{(user$ |async)?.email}}</p>
      </div>
    </div>
    <hr>
    <div class="sign-out">
      <a  (click)="signOut()" i18n>sign out</a>
      <img src="./assets/images/log-out.svg" alt="log-out" i18n-alt>
    </div>
  </mat-menu>
</div>
