#menu {
  width: 320px !important;
  max-width: 100vw !important;
  overflow-wrap: anywhere;
}

.profile-container {
  background-color: var(--card-item) !important;
}

.menu-container {
  display: flex;
  justify-content: space-evenly;


  .profile-photo {
    width: 70px !important;
    height: 70px !important;
    margin-left: 5px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-left: 5px;

    .user-email {
      font-size: 14px !important;
      margin-right: 5px;
    }
  }
}

.sign-out {
  display: flex;
  margin-right: 5px;
  justify-content: end;
  cursor: pointer;

  img {
    width: 30px;
    filter: invert(73%) sepia(14%) saturate(0%) hue-rotate(210deg) brightness(93%) contrast(91%);
  }

  a{
    display: inline-block;
    margin-right: 5px;
  }
}

hr {
  margin: 10px 0;
}


::ng-deep .mat-menu-panel{
  width: 400px;
}
