<div class="task-item__container" (click)="getTask(task)">
  <mat-card>
    <div class="task-item__content">
      <label class="checkbox-container" [ngClass]="task.isDone?'completed':'unCompleted'">{{task?.title}}
        <input type="checkbox" [checked]="task.isDone" [value]="task.isDone" (change)="onDone()">
        <span class="checkmark"></span>
      </label>
      <p class="task-description">{{task?.description}}</p>
      <!--      <button (click)="onRemove()">x</button>-->

    </div>
    <div class="action">
      <div class="bookmark" (click)="onBookMark()">
        <img
          [src]="!task.isBookmark?'./assets/images/bookmark.svg':'./assets/images/blue-star.png'">
      </div>
      <div class="btn-action">
        <button><img src="./assets/images/edit.svg"></button>
        <button (click)="onRemove()"><img src="./assets/images/trash.svg"></button>
      </div>
    </div>
  </mat-card>
</div>


