.task-item {
  &__container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    //cursor: move !important;
    mat-card {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      background-color: var(--card-item);


      .action{
        display: flex;
        flex-direction: column;
        align-items: end;

        .bookmark {
          img {
            width: 30px !important;
            cursor: pointer !important;
          }
        }

        .btn-action{
          display: flex;
          margin-top: 10px;
          button img{
            width: 21px;
          }
        }
      }

    }

  }

  &__content {
    display: flex;
    flex-direction: column;

    .task-description {
      font-weight: 100;
    }

    .completed {
      text-decoration: line-through;
    }

    .unCompleted {
      text-decoration: none;
    }

    .task-description {
      font-size: 16px;
      margin-left: 35px;
    }

  }

}


