<div class="dialog-header">
  <mat-icon mat-dialog-close><img src="./assets/images/close.svg"></mat-icon>
</div>
<div class="profile-container">
  <div class="dialog-content">
    <div class="profile-content">
      <img [src]="(user$ |async)?.photoURL ? (user$ |async)?.photoURL :'./assets/images/user.png'"
           class="h-6 sm:h-9 shadow-lg flex items-center rounded-full profile-photo" alt="photo"/>
      <div class="user-info">
        <p>{{(user$ |async)?.firstName}} {{(user$ |async)?.lastName}}</p>
        <p>{{(user$ |async)?.email}}</p>
      </div>
    </div>
    <hr>
    <div class="dark-mode-container">
      <app-toggle-theme (darkMode)="getTheme($event)"></app-toggle-theme>
      <span>{{isDarkMode ? 'Switch To Light Mode' : 'Switch To Dark Mode'}}</span>
    </div>
    <hr>
    <div class="lang-container">
      <app-toggle-language (selectLang)="getLang($event)"></app-toggle-language>
      <span>{{(lang === 'Fa') ? 'Switch To En' : 'Switch To Fa'}}</span>
    </div>

  </div>

</div>
