
:host {
  display: block;

  .dialog-header {
    height: 40px;
    background-color: #324458;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 3px;

    mat-icon {
      color: white;
      margin-left: 15px;
      cursor: pointer;
      -webkit-appearance: initial;
    }
  }

  .dialog-content {
    display: flex;
    min-height: 200px;
    position: relative;
    width: 550px;
    overflow: auto;
    bottom: 0;
    background-color: white;
    margin: 20px 0;

    .dialog-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      img {
        width: 70px;
      }

      .dialog-title {
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 5;
        letter-spacing: normal;
        text-align: right;
        color: #d80612;
      }

      .dialog-action {
        display: flex;

        .submit {
          padding: 0 48px;
          margin-left: 10px;
        }
      }

    }

  }
}

::ng-deep .mat-dialog-container {
  padding: 0;
}




