<div class="dialog-header">
  <mat-icon mat-dialog-close>x</mat-icon>
</div>
<div class="dialog-content">
  <div class="dialog-container">
    <img src="./assets/images/error.svg" alt="">
    <span class="dialog-title">Are You Sure ?</span>
    <div class="dialog-action">
      <div>
        <button (click)="submit()"
                class="py-2 mr-4 w-40 px-4 bg-blue-600 text-white font-semibold border border-blue-600 rounded hover:bg-white hover:text-blue-600 hover:border-blue-600"
        >Yes
        </button>
      </div>
      <div>
        <button (click)="reset()"
          class="py-2 px-4 w-40 bg-transparent text-red-600 font-semibold border border-red-600 rounded hover:bg-red-600 hover:text-white hover:border-transparent"
        >Cancel
        </button>
      </div>
    </div>
  </div>
</div>
