<!--<div class="dialog-header">-->
<!--  <mat-icon mat-dialog-close>x</mat-icon>-->
<!--</div>-->
<mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">

    <app-custom-input
      [name]="'title'"
      [label]="'title'"
      class="margin-input-title" formControlName="title"
      [formControl]="formGroup.controls['title']">
    </app-custom-input>

    <app-custom-text-area formControlName="description"
                          [formControl]="formGroup.controls['description']"
                          [name]="'description'"
                          [label]="'description'"
                          class="margin-input"></app-custom-text-area>


    <div class="form-element">
      <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid">Add
      </button>
    </div>

  </form>
</mat-dialog-content>

