<mat-card class="filter-container">
  <button mat-raised-button color="primary"
          matBadge="{{totalCount}}" matBadgePosition="before" matBadgeColor="accent">
    All Task
  </button>
  <button mat-raised-button color="primary"
          matBadge="{{bookmarkCount}}" matBadgePosition="before" matBadgeColor="accent">
    Bookmark Tasks
  </button>
  <button mat-raised-button color="primary"
          matBadge="{{doneCount}}" matBadgePosition="before" matBadgeColor="accent">
    Completed Task
  </button>
  <button mat-raised-button color="primary"
          matBadge="{{ongoingCount}}" matBadgePosition="before" matBadgeColor="accent">
    UnCompleted Task
  </button>

</mat-card>
