@import "../../../../../assets/themes/partial/breakpoints";


.filter-container {
  background-color: var(--bg-secondary) !important;
  margin: 10px 0;
  @include media-breakpoint('lt-md') {
    margin: 0 0 10px 0;
  }
  .task-count {
    background-color: var(--bkg-color);
    color: var(--text-color) !important;
    cursor: pointer;
  }

}

mat-chip {
  min-width: 100px !important;
  display: flex;
  justify-content: space-between;
  @include media-breakpoint('lt-md') {
    font-size: 12px;
    min-width: 120px !important;

  }
}

@include media-breakpoint('lt-md') {
  ::ng-deep .mat-chip-list-wrapper {
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px;
    justify-content: flex-start !important;

  }
}

::ng-deep .mat-chip-list-wrapper {
  justify-content: center;
}
